SUPABASE_URL=https://acqehblkfepngdomdoit.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
MAP_PASSWORD=
GITHUB_TOKEN=
GITHUB_REPO_OWNER=Khalilxorder
GITHUB_REPO_NAME=portfolio
GITHUB_BRANCH=main
GITHUB_FILE_PATH=src/data/projects.ts
